colorlog==6.9.0
homeassistant==2025.6.3
pip>=25.0,<25.2
ruff==0.12.1
bleak==0.22.3 # bleak 1.0.0 breaks habluetooth as of 2025.06.29, remove once https://github.com/Bluetooth-Devices/habluetooth/issues/248 is resolved
